body {
    font-family: fantasy;
    background-color: rgb(52, 73, 94);
    }

html {min-height: 100%;
      }

.line {positon: relative;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255, 0.75);
  font-size: 48;
  text-align: center;
  white-space: nowrap;
  overflow: hidden; transform: translateY(-50%);}

.anim-typewriter{animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;}
@keyframes typewriter {
  from {
    width: 0;}
  to {
    width: 16em;}
  }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255,255,255,0.75);}
  to {border-right-color: transparent;}

  }
h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35pt;
    line-height: 2.1em;
    color: rgb(241, 196, 15);
    background-color: rgb(52, 152, 219);
    text-shadow: 2px 2px 0px rgb(28, 40, 51);
    }

h3 {
    text-align: center;
    line-height: 1.8em;
    font-size: 30pt;
    color: white;
    background-color: #ee3e80;
    text-shadow: 2px 2px 0px grey;}

h4 {
    text-align: center;
    line-height: 1.8em;
    font-size: 30pt;
    color: white;
    background-color: blue;
    text-shadow: 2px 2px 0px grey;}

h6 { line-height: 6em;}

h7 { line-height: 6em;}

h8 {
    text-shadow: 2px 2px 0px rgb(28, 40, 51);
    font-weight: bold;
    color: rgb(241, 196, 15);
    background-color: DarkCyan;
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(28, 40, 51, 0.75);}

footer {color: rgb(241, 196, 15); font-size: 17; text-shadow: 2px 2px 0px rgb(28, 40, 51);}

p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    word-spacing: .01em;
    font-size: 17pt;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    background-color: Dodgerblue;}

p3 {
    font-weight: bold;
    font-size: 25;
    color: black;}


a:link {
      color: rgb(52, 152, 219);
      text-decoration: none;}
a:visited {
      color: rgb(165, 105, 189);}
a:hover {
      color: rgb(165, 105, 189);
      text-decoration: underline;}
a:active {
      color: darkcyan;}
