body {
    font-family: fantasy;
    background-color: rgb(150,150,150);}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35pt;
    line-height: 2.1em;
    color: white;
    background-color: DarkCyan;
    text-shadow: 2px 2px 0px grey;
    }

h3 {
    text-align: center;
    line-height: 1.8em;
    font-size: 30pt;
    color: white;
    background-color: #ee3e80;
    text-shadow: 2px 2px 0px grey;
    }

h4 {
    text-align: center;
    line-height: 1.8em;
    font-size: 30pt;
    color: white;
    background-color: blue;
    text-shadow: 2px 2px 0px grey;
    }

h8 {
      text-shadow: 2px 2px 0px grey;
      font-family: fantasy;
      font-weight: bold;
      font-size: 45;
      color: black;
      background-color: DarkCyan;}

p3 {
       font-family: fantasy;
       font-weight: bold;
       font-size: 25;
       color: black;}

h6 { line-height: 6em;
}

h7 { line-height: 6em;
}

footer {font-size: 17;

}

p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    word-spacing: .01em;
    font-size: 17pt;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    background-color: white;}

a:link {
      color: blue;
      text-decoration: none;}
a:visited {
      color: deeppink;}
a:hover {
      color: blue;
      text-decoration: underline;}
a:active {
      color: darkcyan;}
